@media all and (max-width: 1100px) {

}
@media all and (max-width: 1050px) {

}
@media all and (max-width: 900px) {

}
@media all and (max-width: 1250px) {
    .header__container {
        padding: 35px 20px 84px;
    }
    .header__logo {
        margin: 0 63px 0 0;
    }
    .header__title {
        font-size: 18px;
    }
    .titul__title {
        font-size: 45px;
        line-height: 45px;
        text-align: center;
        margin: 0 0 20px 0;
    }
    .titul__text {
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        margin: 0 0 20px 0;
    }
    .titul__content {
        padding: 0 20px;
        justify-content: center;
    }
    .titul_content_right { 
        display: none;
    }
    .titul_content_right-responsive {
        display: block;
        width: 100%;
        height: auto;
        margin: 60px 0 0 0;
    }
    .titul__video {
        display: flex;
        justify-content: center;
        padding: 0 0 18px 0;
    }
    .titul__play {
        height: 85px;
        width: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 85px 85px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0;
    }
    .titul__play_text {
        font-size: 20px;
        line-height: 130%;
        text-transform: none;
        color: #fff;
        margin: 0 0 0 33px;
    }
    .registration-cssave {
        margin: 0;
    }
    .registration-cssave form {
        max-width: 729px;
        padding: 50px 71px 59px;
        margin: 0 0 20px 0;
    }
    .registration-cssave .item {
        padding: 16px 30px;
    }
    .titul__live {
        position: absolute;
        max-width: 719px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(255,255,255,.8);
        border-radius: 10px;
        padding: 12px 13px;
    }
    .titul__footer {
        margin: 44px 0 0 0;
        padding: 84px 20px 21px;
    }
    .titul__footer_items {
        justify-content: center;
    }
    .item-block {
        display: none;
    }
    .problem__container {
        padding: 68px 20px 103px;
    }
    .problem__items {
        flex-direction: column;
        align-items: center;
    }
    .problem__item {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .ecco__container {
        padding: 0 20px;
    }
}

@media all and (max-width: 768px){
    .header__left {
        flex-wrap: wrap;
        display: inline-block;
    }
    .header__logo {
        margin: 0 0 10px  0;
    }
    .header__title {
        font-size: 14px;
    }
    .header__btn {
        font-size: 16px;
        padding: 10px 25px;
        white-space: nowrap;
    }
    .titul__content,
    .problem{
        padding: 0 10px;
    }
    .titul__title {
        font-size: 30px;
        line-height: 40px;
    }
    .titul__text {
        font-size: 22px;
        line-height: 27px;
    }
    .titul__live { 
        max-width: 540px;
    }
}
@media all and (max-width: 600px) {
    .registration-cssave form {
        max-width: 480px;
        padding: 50px 71px 59px;
        margin: 0 0 20px 0;
    }
    .titul__live { 
        max-width: 480px;
    }
    .ecco__item_number-bg {
        width: 50px;
        height: 70px;
        font-size: 40px;
        line-height: 41px;
        padding: 10px 0 0 0;
    }
    .ecco__item_number-2 {
        top: 0;
        left: -50px;
    }
    .ecco__item_number-info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0;
    }
    .ecco__item_number-text {
        font-size: 18px;
    }
}
@media all and (max-width: 500px) {
    .header__container {
        align-items: flex-start;
        padding: 25px 10px 50px;
    }
    .header__left {
        margin: 0 10px 0 0;
    }
    .header__right {
        margin: 15px 0 0 0;
    }
    .header__btn {
        font-size: 14px;
        padding: 7px 10px;
    }
    .titul {
        margin: 0;
    }
    .titul__title {
        font-size: 18px;
        line-height: 26px;
    }
    .titul__text {
        font-size: 14px;
        line-height: 18px;
    }
    .titul__play {
        height: 65px;
        width: 65px;
        background-size: 65px 65px;
        margin: 0 0 0 80px;
    }
    .titul__play_text {
        font-size: 16px;
        line-height: 130%;
    }
    .registration-cssave form {
        max-width: 300px;
        padding: 20px 10px;
        margin: 0 0 60px 0;
    }
    .registration-cssave form h3 {
        font-size: 24px;
    }
    .registration-cssave .item {
        font-size: 14px;
        color: #fff;
        border: none;
        background: #0d2b6d;
        padding: 10px 20px;
    }
    .registration-cssave .create-account {
        font-size: 18px;
        padding: 10px;
    }
    .titul__live {
        max-width: 300px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    .titul__live_logo {
        margin: 0 0 5px 0;
    }
    .titul__live_logo svg {
        width: 50px;
        height: 50px;
    }
    .titul__live_text {
        font-size: 14px;
        margin: 0 0 5px 0;
    }
    .titul__live_btn {
        font-size: 16px;
        padding: 5px 15px;
        border-radius: 10px;
    }
    .titul__footer {
        margin: 90px 0 0 0;
        padding: 84px 20px 21px;
    }
    .titul__footer_item {
        font-size: 14px;
        line-height: 130%;
    }
    .problem__container {
        box-shadow: none;
        padding: 30px 0px 70px;
    }
    .problem__title {
        font-size: 50px;
    }
    .problem__item {
        border-radius: 0 10px 10px 0;
        box-shadow: 4px 4px 4px rgba(83,83,83,.25);
    }
    .problem__item_text {
        padding: 5px;
    }
    .problem__item_subtitle {
        font-size: 24px;
    }
    .soluzione__header {
        padding: 54px 0 73px;
    }
    .soluzione__title {
        font-size: 40px;
    }
    .soluzione__text {
        font-size: 18px;
    }
    .ecco__container {
        padding: 0;
    }
    .ecco__item_number-info {
        padding: 0 55px;
    }
    .ecco__title {
        font-size: 40px;
    }
    .ecco__item {
        padding: 0 5px;
    }
    .ecco__item_number-title {
        font-size: 26px;
    }
    .ecco__item_number-text {
        font-size: 14px;
    }
}
@media all and (max-width: 425px) { }