*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a :focus, a :active{outline: none;}
nav, footer, header, aside{display: block;}
html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}
input ::-ms-clear{display: none;}
button{cursor: pointer;}
button ::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1, h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}
img {max-width: 100%;height: auto;}

body {
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
}

.wrapper { 
    height: auto;
}
.container { 
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.titul {
    height: 1250px;
    position: relative;
    margin: 0 0 125px 0;
}
.titul__bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1920px;
    height: 1214px;
    opacity: 0;
    transition: opacity 4s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.is-current {
    z-index:1;
    opacity: 1;
}
.titul__bg-responsive {
    display: none;
}

.header { 
    height: auto;
    position: relative;
    z-index: 10;
}
.header__container { 
    width: 100%;
    max-width: 1209px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 62px 0 101px 0;
}
.header__left { 
    display: flex;
    align-items: center;
}
.header__logo { 
    margin: 0 76px 0 0;
}
.header__title { 
    font-size: 20px;
    line-height: 130%;
    color: #fff;
}
.header__right { }
.header__btn { 
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FDA700;
    border: 1px solid #FDA700;
    border-radius: 10px;
    padding: 13.5px 37px;
    transition: background-color 0.5s ease-out 100ms
}
.header__btn:hover {
    background-color: #FDA700;
    border: 1px solid #fff;
    color: #fff;
}

.titul__container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 10;
}
.titul__content { 
    width: 100%;
    max-width: 1220px;
    display: flex;
    margin: 0 auto;
    padding: 0 0 131px 0;
}
.titul__content_left { 
    height: auto;
}
.titul__info { 
    width: auto;
}
.titul__title { 
    font-family: 'Orchidea Pro', sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 110%;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    margin: 0 0 35px 0;
}
.titul__title-color { 
    color: rgba(253, 167, 0, 1);
}
.titul__text { 
    font-size: 30px;
    line-height: 37px;
    color: #fff;
    margin: 0 0 232px 0;
}
.titul__live { 
    max-width: 660px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 12px 13px;
}
.titul__live_logo { 
    margin: 0 18px 0 0;
}
.titul__live_text { 
    font-size: 20px;
    line-height: 130%;
    color: #373737;
    margin: 0 16px 0 0;
}
.titul__live_btn { 
    font-family: 'Orchidea Pro';
    font-weight: 500;
    font-size: 30px;
    color: #FDA700;
    white-space: nowrap;
    padding: 12px 25px;

    background: #0D2B6D;
    border-radius: 10px;
}
.titul_content_right { 
    width: 100%;
    height: auto;
    margin: 60px 0 0 0;
}
.titul_content_right-responsive {
    display: none;
}
.titul__video { 
    display: flex;
    padding: 0 0 18px 0;
}
.titul__play {
    position: relative;
    text-align: center;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background-image: url('../img/titul/titul-play.png');
    background-size: cover;
    cursor: pointer;
    padding: 62px;
    margin: 0 0 0 112px;
}
.titul__play::after,
.titul__play::before {
    content: '';
    position: absolute;
    border: 2px solid #3D64FF;
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
}
.titul__play::after {
    animation-delay: 1.25s;
}
@keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(0.9);
      opacity: 0;
    }
}

.registration-cssave {
    position: relative;
    text-align: center;
    margin: 0 0 0 -68px;
}
.registration-cssave form {
    max-width:490px;
    background: rgba(13, 43, 109, 0.8);
    border-radius: 10px;
    padding:50px 45px;
}
.registration-cssave input::-moz-placeholder {
    color: #fff;
}
.registration-cssave input::-webkit-input-placeholder {
    color: #fff;
}
.registration-cssave form h3 {
    font-family: 'Orchidea Pro';
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    color: #FDA700;
    margin: 0 0 20px 0;
}
.registration-cssave .item {
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    border: none;
    background: #0D2B6D;
    padding: 17px 20px;
}
.registration-cssave .create-account {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #373737;

    background: #FDA700;
    border-radius: 10px;
    padding: 18px 157px;
}
.input-style {
    background-color: #0D2B6D;
}

.titul__footer { 
    width: 100%;
    max-width: 1920px;
    height: auto;
    display: flex;
    background: #0D2B6D;
    padding: 48px 0 57px;
}
.titul__footer_items { 
    width: 100%;
    max-width: 1209px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.titul__footer_item { 
    display: flex;
    align-items: center;

    font-size: 20px;
    line-height: 130%;
    color: #fff;
}
.titul__footer_item img {
    margin: 0 20px 0 0;
}
.titul__footer_info .space { 
    margin: 0 0 4px 0;
}
.titul__footer_info .color {
    color: #FDA700;
}

.problem { 
    height: auto;
}
.problem__container { 
    width: 100%;
    max-width: 1380px;
    background: #F3F3F3;
    box-shadow: 4px 4px 4px rgba(83, 83, 83, 0.25);
    border-radius: 10px;
    margin: 0 auto;
    padding: 68px 72px 103px;
}
.problem__title { 
    font-family: 'Orchidea Pro';
    font-weight: 500;
    font-size: 60px;
    line-height: 61px;
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    margin: 0 0 40px 0;
}
.problem__items { 
    height: auto;
    display: flex;
    justify-content: space-between;
}
.problem__item { 
    width: 25%;
    margin: 0 9.2px;
}
.problem__item_bg { 
    background: #0D2B6D;
    border-radius: 10px;
    padding: 4px 6px;
    margin: 0 0 20px 0;
}
.problem__item_subtitle { 
    font-family: 'Orchidea Pro';
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #FDA700;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 9.5px 42px;
}
.problem__item_text { 
    font-size: 20px;
    line-height: 130%;
    color: #373737;
}
.problem__item_text span { 
    color: rgba(253, 167, 0, 1);
}
.problem-info {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
}
.problem-info__switch {
    display: none;
}
.problem-info__body {
    max-height: 0;
    overflow: hidden;
}
.problem-info__switch:checked~.problem-info__body {
    max-height: 100%;
}
.problem-info__headline {
    display: inline-block;
    margin-top: -45px;
}
.problem-info__headline img {
    padding: 10px;
    background: #D9D9D9;
    border-radius: 50%;
}
.problem-info__headline {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
    user-select: none;
    color: #39739d;
    font-weight: normal;
    cursor: pointer;
}
.problem-info__headline:hover {
    text-decoration: underline;
}




.soluzione { 
    height: auto;
}
.soluzione__container { 
    position: relative;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}
.soluzione__header { 
    text-align: center;
    padding: 54px 24px 73px;
}
.soluzione__title { 
    font-family: 'Orchidea Pro';
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #373737;
    margin: 0 0 30px 0;
}
.soluzione__text { 
    font-size: 20px;
    line-height: 130%;
    color: #000;
}
.ecco { 
    height: auto;
}
.ecco__container { 
    width: 100%;
}
.ecco__title { 
    font-family: 'Orchidea Pro';
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #373737;
    margin: 0 0 44px 0;
}
.ecco__items { }
.ecco__item { 
    width: 100%;
    min-height: 150px;
    background: #F3F3F3;
    box-shadow: 4px 4px 4px rgba(55, 55, 55, 0.25);
    display: flex;
    padding: 0 24px;
    margin: 0 0 20px 0;
}
.ecco__item_number { 
    position: relative;
}
.ecco__item_number-bg { 
    position: absolute;
    width: 70px;
    height: 100px;
    background: url('../img/soluzione/soluzione.png')no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    
    font-family: 'Orchidea Pro';
    font-weight: 500;
    font-size: 60px;
    line-height: 61px;
    text-align: center;
    text-transform: uppercase;
    color: #FDA700;
    padding: 15px 0 0 0;
}
.ecco__item_number-info { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.ecco__item_number-2 {
    top: 0;
    left: -70px;
}
.ecco__item_number-title { 
    font-family: 'Orchidea Pro';
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FDA700;
    margin: 0 0 10px 0;
}
.ecco__item_number-text { 
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #373737;
}